
http://api.clicks.codes {
    handle_path /nucleus/* {
        reverse_proxy http://127.0.0.1:10000 {
          trusted_proxies 192.168.81.136
        }
    }
    respond 503
}

http://clicks.codes {
    reverse_proxy http://127.0.0.1:3000 {
      trusted_proxies 192.168.81.136
    }
}

http://www.clicks.codes {
    redir https://clicks.codes{uri} {
      trusted_proxies 192.168.81.136
    }
}
